/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license {
    /* color: #fdcc73; */
    /* color: #ed8c4f; */
    border: 2px solid black;
    border-radius: 20px;
    padding: 24px;
    width: 700px;
    background: 
        linear-gradient(to bottom right, #fdcc73, #ed8c4f)
    ;
}

#content {
    vertical-align: top;
}

h1 {
    font-size: 60px;
    color: navy;
    margin: 0px;
}

#right-side, #left-side {
    display: inline-block;
}

#left-side {
    width: 60%;
    font-family: sans-serif;
}

#right-side {
    width: 35%;
}

h4 {
    text-align: center;
    background-color: darkblue;
    color: white;
    padding: 8px;
    font-size: 24px;
    margin: 0px;
}

#id-and-expiration div {
    display: inline-block;
    color: navy;
    margin: 8px;
}

#id-and-expiration span {
    color: red;
    font-weight: bold;
}

#address {
    font-weight: bold;
    font-size: 18px;
    margin: 9px;
}

#small-pic, #data-fields {
    display: inline-block;
}

#small-pic img {
    width: 90px;
    opacity: 0.5;
}

#signature {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

#data-left, #data-right {
    display: inline-block;
    color: navy;
    margin: 8px;
}

#data-left span,
#data-right span {
    color: red;
    font-weight: bold;
}

#right-side img {
    width: 100%;
}

#donor-and-real-id {
    text-align: center;
    padding-top: 4px;
}

#donor-and-real-id div {
    display: inline-block;
    text-align: right;
}

#donor {
    color: red;
    font-family: sans-serif;
    font-weight: bold;
    padding-right: 24px;
}

#real-id {
    display: inline-block;
    background-color: gold;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    padding: 4px;
}
#real-id i {
    color: white;
}