* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 450px 250px 1fr;
    /*
        The dots are a special area "name" that
        represent an unassigned or empty cell,
        which is perfect for the gutters we want.
    */
    grid-template-areas:
        ". content sidebar ."
    ;
}

#sidebar {
    grid-area: sidebar;
    padding: 18px;
}
#sidebar h2 {
    background-color: #0b8f82;
    margin: 0px;
    padding: 12px;
    color: white;
    font-size: 18px;
}

#sidebar ul {
    background-color: #efefef;
    border: 1px solid #0b8f82;
    margin: 0px 0px 36px;
    list-style-type: none;
    padding: 0px 12px;
}

#sidebar a {
    color: #0b8f82;
    text-decoration: none;
}

#sidebar li {
    border-bottom: 1px solid #0b8f82;
    padding: 8px 0px;
}
#sidebar li:last-child {
    border-bottom: 0px;
}

#main {
    grid-area: content;
    margin: 0px 36px;
}