/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-1 {
    background-color: #edffed;
    max-width: 350px;
    box-shadow: 4px 4px 8px #0008;
    margin: 16px;
}

.card-style-1 img {
    width: 100%;
}

.card-style-1 h2,
.card-style-1 p {
    padding-left: 24px;
    padding-right: 24px;
}

.card-style-1 h2 {
    padding-top: 24px;
    margin-top: 0px;
}

.card-style-1 a {
    display: block;
    background-color: green;
    color: #edffed;
    font-size: 20px;
    padding: 24px;
    text-decoration: none;
    text-align: center;
}