/* Drill 1 - Write your code solution below */
#d1-container-1 {
    padding: 36px;
}

/* Drill 2 - Write your code solution below */
#d2-div-1 {
    padding: 48px 24px;
}

/* Drill 3 - Write your code solution below */
#d3-div-2 {
    padding: 12px 48px;
}
#d3-div-1,
#d3-div-3 {
    padding: 12px;
}

/* Drill 4 - Write your code solution below */
#d4-div-1, #d4-div-2 {
    padding: 12px;
}
.d4-container {
    padding: 12px;
}

/* Drill 5 - Write your code solution below */
#d5-container-1 {
    text-align: center;
}
.d5-s {
    padding: 24px;
    display: inline-block;
}