/* Drill 1 - Write your code solution below */
#column-d1 {
    width: 50%;
}

/* Drill 2 - Write your code solution below */
#column-d2 {
    margin-left: auto;
    width: 50%;
}

/* Drill 3 - Write your code solution below */
#column-d3 {
    width: 50%;
    margin: 0px auto;
}

/* Drill 4 - Write your code solution below */
#container-d4 {
    width: 50%;
    margin: 0px auto;
}

/* Drill 5 - Write your code solution below */
#container-d5-1 {
    margin-left: auto;
    margin-right: auto;
    /* 
        This could have worked as well.
        margin: 12px auto; 
    */
    width: 50%;
}
#container-d5-2 {
    margin-left: auto;
    width: 50%;
}
#container-d5-3 {
    width: 50%;
}