@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    color: #111;
}
h1 {
    font-family: "Staatliches", sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
.contain {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}

/* Header and Hero */
header {
    display: grid;
    grid-template-rows: 100vh max-content;
}
#hero {
    height: 100vh;
    background: 
        linear-gradient(to bottom, #fff0, #fff0, #fff0, #edd5c155, #edd5c1),
        url(../images/hero.jpg)
    ;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
}
#hero .contain {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 80px;
}
#hero .contain div {
    flex: 2;
}
#hero h1 {
    font-size: 6vw;
    margin-bottom: 5px;
}
#hero h1 span {
    text-shadow: 0px 0px 15px #418eaa99;
}
#hero a {
    display: block;
    flex: 1;
    max-width: 300px;
    border: 4px solid #418eaa;
    border-radius: 15px;
    color: #418eaa;
    text-decoration: none;
    padding: 25px 50px;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0px 0px 15px #418eaa99;
    transition: all 0.5s;
}
#hero a:hover {
    background-color: #418eaa;
    color: #edd5c1;
}

/* Navigation */
nav {
    position: sticky;
    top: 0px;
    z-index: 3;
    background-color: #edd5c1;
    border-bottom: 0.5px solid #418eaa;
}
nav .contain {
    display: flex;
    align-items: center;
    gap: 30px;
    opacity: 0.5;
    transition: all 0.5s;
}
nav .contain:hover {
    opacity: 1;
}
nav a {
    color: #111;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 5px 0px;
    font-variant: small-caps;
    font-weight: 400;
    transition: all 0.5s;
}
nav a:hover {
    color: #418eaa;
    letter-spacing: 0.09em;
}
.logo {
    font-family: "Staatliches", sans-serif;
    display: block;
    margin-right: auto;
    font-size: 2.5rem;
}
.logo span {
    color: #418eaa;
    text-shadow: 0px 0px 5px #418eaa99;
}
.logo:hover {
    letter-spacing: normal;
}

/* MAIN */
/* Cards */
#cards {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #edd5c1;
}
#cards .contain {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.card {
    position: relative;
    background: linear-gradient(50deg, #214957, #418eaa, #214957);
    flex: 1;
    aspect-ratio: 1 / 1;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    z-index: 1;
}
.card:last-child {
    background: linear-gradient(-50deg, #214957, #418eaa, #214957);
}
.card .overlay {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #333;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: all 0.5s;
}
.card:hover {
    border-radius: 50%;
}
.card:hover .overlay {
    opacity: 0;
    border-radius: 50%;
}
.card a {
    color: #edd5c1;
    text-decoration: none;
    font-size: 2.5rem;
    padding: 25px;
}

/* GALLERY */
#gallery {
    position: relative;
    z-index: 1;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: 
        linear-gradient(to top, #fff0, #edd5c155, #edd5c1),
        url(../images/gallery-hero.jpg)
    ;
    background-size: cover;
    background-position: center;
}
.banner .contain {
    text-align: center;
    background-color: #418eaa55;
    width: auto;
    max-width: auto;
    padding: 25px 50px;
    backdrop-filter: blur(5px);
    border-radius: 25px;
}
.banner h2 {
    font-size: 3.5vw;
    letter-spacing: 0.1em;
    font-family: "Staatliches";
}
.gal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding: 50px 0px;
}
.gal img {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 25px;
}
.gal .img-overlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: all 0.5s;
}
.gal img:hover + .img-overlay {
    opacity: 1;
    filter: blur(5px);
}
.gal img:hover:nth-of-type(1) + .img-overlay {
    background: linear-gradient(0deg, #fff9, #fff9), url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
}
.gal img:hover:nth-of-type(2) + .img-overlay {
    background: linear-gradient(0deg, #fff9, #fff9), url(../images/img2.jpg);
    background-position: center;
    background-size: cover;
}
.gal img:hover:nth-of-type(3) + .img-overlay {
    background: linear-gradient(0deg, #fff9, #fff9), url(../images/img3.jpg);
    background-position: center;
    background-size: cover;
}
.gal img:hover:nth-of-type(4) + .img-overlay {
    background: linear-gradient(0deg, #fff9, #fff9), url(../images/img4.jpg);
    background-position: center;
    background-size: cover;
}
.gal img:hover:nth-of-type(5) + .img-overlay {
    background: linear-gradient(0deg, #fff9, #fff9), url(../images/img5.jpg);
    background-position: center;
    background-size: cover;
}
.gal img:hover:nth-of-type(6) + .img-overlay {
    background: linear-gradient(0deg, #fff9, #fff9), url(../images/img6.jpg);
    background-position: center;
    background-size: cover;
}

/* FOOTER */
footer {
    background-color: #214957;
    border-top: 0.5px solid #edd5c1;
    padding: 25px 0px;
    font-size: 1rem;
    color: #eee;
}
footer .contain {
    display: flex;
    align-items: center;
    gap: 25px;
}
footer .contain div {
    margin-left: auto;
}
footer a {
    color: #eee;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.5s;
}
footer a:hover {
    color: #edd5c1;
    letter-spacing: 0.09em;
}
footer .logo {
    font-family: "Staatliches", sans-serif;
    display: block;
    margin: 0px;
    text-align: right;
    font-size: 2.5rem;
}
footer .logo span {
    color: #edd5c1;
    text-shadow: 0px 0px 5px #edd5c155;
}
footer .logo:hover {
    letter-spacing: normal;
    text-shadow: 0px 0px 5px #edd5c1;
}
footer .logo:hover span {
    text-shadow: 0px 0px 5px #edd5c1;
}
